/* line 14, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss

div.blinkmarks, .blinkmakrs div,
.blinkmarks span, span.blinkmarks,
.blinkmarks iframe, iframe.blinkmarks,
.blinkmarks h1,  .blinkmarks h2, .blinkmarks h3, 
.blinkmarks h4, .blinkmarks h5, .blinkmarks h6, 
.blinkmarks p, p.blinkmarks,
.blinkmarks blockquote, .blinkmarks pre, 
.blinkmarks a, a.blinkmarks,
.blinkmarks abbr, 
.blinkmarks acronym, .blinkmarks address, .blinkmarks big, 
.blinkmarks cite, cite.blinkmarks, .blinkmarks code, .blinkmarks del, .blinkmarks dfn,
.blinkmarks em, em.blinkmarks,
.blinkmarks img, img.blinkmarks,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
  margin: 0
  padding: 0
  border: 0
  outline: 0
  font-weight: inherit
  font-style: inherit
  font-size: 100%
  font-family: inherit
  vertical-align: baseline

/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss

.blinkmarks
  line-height: 1
  color: black
  background: white

/* line 19, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss

ol.blinkmarks, ul.blinkmarks, .blinkmarks ol, .blinkmarks ul
  list-style: none

/* line 21, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss

table.blinkmarks, .blinkmarks table
  border-collapse: separate
  border-spacing: 0
  vertical-align: middle

/* line 23, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss

.blinkmarks caption, .blinkmarks th, .blinkmarks td
  text-align: left
  font-weight: normal
  vertical-align: middle

/* line 25, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss

.blinkmarks q, .blinkmarks blockquote
  quotes: "" ""

/* line 96, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss

.blinkmarks q
  &:before, &:after
    content: ""

.blinkmarks blockquote
  &:before, &:after
    content: ""

/* line 27, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss

.blinkmarks a img
  border: none
