@import "compass/reset"
@import "fancy-buttons"
@import "shared"

@import "jquery/jquery.jcarousel"

a
	color: $link_color

input[type="text"]
	color: $lite_color
	&:focus
		color: #000

.tags_input
	width: 200px
	
.tags_input, .search_input
	padding-right: 16px
	&:focus
		border-color: $link_color
		
input.loading
	background: url("/images/ajax-loader.gif") no-repeat center right

.blinkmarkbar
	background: #FFF
	font-family: arial, sans-serif
	padding-top: 2px

.button
	@include fancy-button(#eaeaea, 9pt, 5px, 1px)
	position: relative
	bottom: 1px
	
.rm_10
	margin-right: 10px
	
.logo
	position: relative
	bottom: 6px
	
.add, .remove
	padding: 0 10px 0 10px
	
.notice, .alert
	position: relative
	top: 2px
	
.alert
	color: $alert_color
	
.new_account
	position: relative
	top: 2px
	
#tag_container
	display: block
	width: 474px
	height: 20px
	overflow-y: hidden
	
#error_explanation
	h2
		display: none
	ul
		li
			float: left
			padding-left: 5px
			position: relative
			top: 2px
			color: $alert_color
			

.jcarousel-skin-tango
	float: left
		
.jcarousel-skin-tango .jcarousel-container
	padding: 0px 30px 0 30px
	border: none
	background: #FFF

.jcarousel-skin-tango .jcarousel-clip-horizontal
	height: auto !important
			
.jcarousel-prev, .jcarousel-next
	top: 0px !important
	