@import "compass/reset"
@import "fancy-buttons"
@import "shared"

a
	color: $link_color

input[type="text"]
	color: $lite_color
	&:focus
		color: #000

.tags
	width: 200px
	
.tags, .search
	padding-right: 16px
	&:focus
		border-color: $link_color
		
input.loading
	background: url("/images/ajax-loader.gif") no-repeat center right

.blinkmarkbar
	background: #FFF
	font-family: arial, sans-serif
	padding-top: 2px

.button
	@include fancy-button(#eaeaea, 9pt, 5px, 1px)
	position: relative
	bottom: 1px
	
.rm_10
	margin-right: 10px
	
.logo
	position: relative
	bottom: 6px
	
.add, .remove
	padding: 0 10px 0 10px
	
.notice, .alert
	position: relative
	top: 2px
	
.alert
	color: $alert_color
	
.new_account
	position: relative
	top: 2px
	
#error_explanation
	h2
		display: none
	ul
		li
			float: left
			padding-left: 5px
			position: relative
			top: 2px
			color: $alert_color
	