/* line 14, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* incase an inverted custom gradient isn't specified */
/* line 176, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class, .button {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/public/images/button_bg.png?1293418382') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner, .button::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus, .button:focus {
  outline: none;
}

/* line 5, ../../sass/_shared.sass */
.l {
  float: left;
}

/* line 8, ../../sass/_shared.sass */
.r {
  float: right;
}

/* line 2, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-container {
  -moz-border-radius: 10px;
  background: #f0f6f9;
  border: 1px solid #346f97;
}
/* line 6, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-direction-rtl {
  direction: rtl;
}
/* line 8, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-container-horizontal {
  width: 245px;
  padding: 20px 40px;
}
/* line 11, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-container-vertical {
  width: 75px;
  height: 245px;
  padding: 40px 20px;
}
/* line 15, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-clip-horizontal {
  width: 245px;
  height: 75px;
}
/* line 18, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-clip-vertical {
  width: 75px;
  height: 245px;
}
/* line 21, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-item {
  width: 75px;
  height: 75px;
}
/* line 24, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-item-horizontal {
  margin-left: 0;
  margin-right: 10px;
}
/* line 27, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
  margin-left: 10px;
  margin-right: 0;
}
/* line 30, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-item-vertical {
  margin-bottom: 10px;
}
/* line 32, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-item-placeholder {
  background: white;
  color: black;
}
/* line 35, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-next-horizontal {
  position: absolute;
  top: 43px;
  right: 5px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
/* line 42, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
  left: 5px;
  right: auto;
}
/* line 46, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
  background-position: -32px 0;
}
/* line 48, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-next-horizontal:active {
  background-position: -64px 0;
}
/* line 50, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal {
  cursor: default;
  background-position: -96px 0;
}
/* line 53, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
  cursor: default;
  background-position: -96px 0;
}
/* line 56, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-prev-horizontal {
  position: absolute;
  top: 43px;
  left: 5px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
/* line 63, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
  left: auto;
  right: 5px;
}
/* line 67, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
  background-position: -32px 0;
}
/* line 69, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
  background-position: -64px 0;
}
/* line 71, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal {
  cursor: default;
  background-position: -96px 0;
}
/* line 74, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
  cursor: default;
  background-position: -96px 0;
}
/* line 77, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-next-vertical {
  position: absolute;
  bottom: 5px;
  left: 43px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
/* line 84, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-next-vertical:hover {
  background-position: 0 -32px;
}
/* line 86, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-next-vertical:active {
  background-position: 0 -64px;
}
/* line 88, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-next-disabled-vertical {
  cursor: default;
  background-position: 0 -96px;
}
/* line 91, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover, .jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
  cursor: default;
  background-position: 0 -96px;
}
/* line 94, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-prev-vertical {
  position: absolute;
  top: 5px;
  left: 43px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
/* line 101, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-prev-vertical:hover {
  background-position: 0 -32px;
}
/* line 103, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-prev-vertical:active {
  background-position: 0 -64px;
}
/* line 105, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical {
  cursor: default;
  background-position: 0 -96px;
}
/* line 108, ../../sass/jquery/_jquery.jcarousel.sass */
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover, .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
  cursor: default;
  background-position: 0 -96px;
}

/*
 *  Horizontal Buttons */
/*
 *  Vertical Buttons */
/* line 7, ../../sass/bar.sass */
a {
  color: #36a9e1;
}

/* line 10, ../../sass/bar.sass */
input[type="text"] {
  color: #c6c6c6;
}
/* line 12, ../../sass/bar.sass */
input[type="text"]:focus {
  color: black;
}

/* line 15, ../../sass/bar.sass */
.tags_input {
  width: 200px;
}

/* line 18, ../../sass/bar.sass */
.tags_input, .search_input {
  padding-right: 16px;
}
/* line 20, ../../sass/bar.sass */
.tags_input:focus, .search_input:focus {
  border-color: #36a9e1;
}

/* line 23, ../../sass/bar.sass */
input.loading {
  background: url("/images/ajax-loader.gif") no-repeat center right;
}

/* line 26, ../../sass/bar.sass */
.blinkmarkbar {
  background: white;
  font-family: arial, sans-serif;
  padding-top: 2px;
}

/* line 31, ../../sass/bar.sass */
.button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font-size: 9pt;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: white;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(10%, #ffffff), color-stop(50%, #e2e2e2), color-stop(50%, #dbdbdb), color-stop(100%, #f4f4f4));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 10%, #e2e2e2 50%, #dbdbdb 50%, #f4f4f4 100%);
  background-image: linear-gradient(top, #ffffff 0%, #ffffff 10%, #e2e2e2 50%, #dbdbdb 50%, #f4f4f4 100%);
  border-color: #c4c4c4;
  text-shadow: white 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.918) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.918) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.918) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.918) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  bottom: 1px;
}
/* line 120, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
.button, .button:visited {
  color: #222222;
}
/* line 31, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
.button:hover, .button:focus {
  background-color: white;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(10%, #ffffff), color-stop(50%, #dbdbdb), color-stop(50%, #d3d3d3), color-stop(100%, #ededed));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 10%, #dbdbdb 50%, #d3d3d3 50%, #ededed 100%);
  background-image: linear-gradient(top, #ffffff 0%, #ffffff 10%, #dbdbdb 50%, #d3d3d3 50%, #ededed 100%);
  border-color: #bcbcbc;
  text-shadow: white 0px 1px 1px;
}
/* line 120, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
.button:hover, .button:hover:visited, .button:focus, .button:focus:visited {
  color: #222222;
}
/* line 36, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
.button:active {
  background-color: white;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #dbdbdb), color-stop(30%, #e0e0e0), color-stop(50%, #d6d6d6), color-stop(50%, #cecece), color-stop(100%, #efefef));
  background-image: -moz-linear-gradient(top, #dbdbdb 0%, #e0e0e0 30%, #d6d6d6 50%, #cecece 50%, #efefef 100%);
  background-image: linear-gradient(top, #dbdbdb 0%, #e0e0e0 30%, #d6d6d6 50%, #cecece 50%, #efefef 100%);
  border-color: #b4b4b4;
  text-shadow: white 0px -1px -1px;
  -moz-box-shadow: #c4c4c4 0 0.08em 0.1em 1px inset;
  -webkit-box-shadow: #c4c4c4 0 0.08em 0.1em 1px inset;
  -o-box-shadow: #c4c4c4 0 0.08em 0.1em 1px inset;
  box-shadow: #c4c4c4 0 0.08em 0.1em 1px inset;
}
/* line 120, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.0.4/lib/stylesheets/_fancy-buttons.sass */
.button:active, .button:active:visited {
  color: #222222;
}

/* line 36, ../../sass/bar.sass */
.rm_10 {
  margin-right: 10px;
}

/* line 39, ../../sass/bar.sass */
.logo {
  position: relative;
  bottom: 6px;
}

/* line 43, ../../sass/bar.sass */
.add, .remove {
  padding: 0 10px 0 10px;
}

/* line 46, ../../sass/bar.sass */
.notice, .alert {
  position: relative;
  top: 2px;
}

/* line 50, ../../sass/bar.sass */
.alert {
  color: #e64e5f;
}

/* line 53, ../../sass/bar.sass */
.new_account {
  position: relative;
  top: 2px;
}

/* line 57, ../../sass/bar.sass */
#tag_container {
  display: block;
  width: 474px;
  height: 20px;
  overflow-y: hidden;
}

/* line 64, ../../sass/bar.sass */
#error_explanation h2 {
  display: none;
}
/* line 67, ../../sass/bar.sass */
#error_explanation ul li {
  float: left;
  padding-left: 5px;
  position: relative;
  top: 2px;
  color: #e64e5f;
}

/* line 75, ../../sass/bar.sass */
.jcarousel-skin-tango {
  float: left;
}

/* line 78, ../../sass/bar.sass */
.jcarousel-skin-tango .jcarousel-container {
  padding: 0px 30px 0 30px;
  border: none;
  background: white;
}

/* line 83, ../../sass/bar.sass */
.jcarousel-skin-tango .jcarousel-clip-horizontal {
  height: auto !important;
}

/* line 86, ../../sass/bar.sass */
.jcarousel-prev, .jcarousel-next {
  top: 0px !important;
}
