var blinkmarks = function(){
	
	var REMOTE = "<%= root_url %>"
		,head = document.getElementsByTagName('head')[0]
		,deps = 0
		,finished_deps = 0
		,bar_built = false
		,rpc = null
		;
	
	//Function for building the bar	
	function buildBar(){
		
		var $existing_bar = jQuery('div#blinkmarks');
				
		//remove the bar if its already rendered		
		if($existing_bar.length > 0 && $existing_bar.is(":visible")){ 
			$existing_bar.slideUp('fast');
			return false;
		}else if($existing_bar.length > 0 && $existing_bar.is(":not(:visible)")){
			$existing_bar.slideDown('fast');
			return false;
		}
		
		jQuery.noConflict();
		(function($){ 
			if(bar_built === false){
				console.log("dom ready building bar");
				var $barDiv = $('<div id="blinkmarks"></div>')
					,$closeBtn = $('<a href="#">X</a>')
					;	
				
				$barDiv.css({
					width: '100%',
					height: '30px',
					'background-color': 'transparent',
					'background-image': "url("+REMOTE+"images/bar_back.png)",
					'background-repeat': 'repeat-x',
					border: 'none',
					padding: '0',
					margin: '0',
					position: 'fixed',
					'padding': "5px 0",
					top: "0px",
					left: "0px",
					display: 'none',
					'z-index': "9001",
				});
			
	
				$closeBtn.css({
					float: 'right',
					"padding-right": "10px"
				});
				$closeBtn.click(function(){
					$barDiv.slideUp('fast');
					return false;
				});
			
				//add a small style sheet to the host head. because easyxdm won't let us set the styles of the iframe it generates
				$(head).append("<style type=\"text/css\">#easyXDM_default0_provider{ float: left;}</style>");
				$barDiv.append($closeBtn);
				$('body').prepend($barDiv);
			
			
				rpc = new easyXDM.Rpc({
				    remote: REMOTE+"/frame?url="+window.location.href+"&title="+window.document.title, // the path to the provider
						container: $barDiv.get(0),
						props : {
							name : window.location.href+"||"+window.document.title,
							width : '90%',
							height : '30px',
							scrolling : 'no',
							class : "easyxdm",
							frameborder : '0',
							style: {
								float: "left",
								width: "90%",
								"padding-left" : "10px",
							}
						}
				}, 
				{
				    local: {
								buildList : function(results_array, successFn, errorFn){
									console.log("rpc build list called", results_array);
									
									var $linkList = $("#blinkmarks_search_list");
																		
									if($linkList.length == 0){
										console.log("building new link list");
										$linkList = $("<ul id='blinkmarks_search_list'></ul>").prependTo('body');
									}

									console.log("link list?", $linkList);
									
									$linkList.css({
										position: 'fixed',
										top: '30px',
										right: '0px',
										'z-index': "9005",
										background : '#FFF',
										"list-style-type" : 'none',
									});
									
									$linkList.empty();
									
									for(var i=0; i<results_array.length; i++){
										$linkList.append('<li><a href="'+results_array[i].url+'">"'+results_array[i].title+'"</a></li>');
									}
								}
				    }
				});
						
				$barDiv.slideDown('fast', function(){ bar_built = true;});
			}
		})(jQuery.noConflict());
	}
	
	
	/*
	*
	* Lets load 3rd party dependencys form external domains!
	*
	*/	
	function scriptOnLoad(){
		if(typeof jQuery == "undefined" || !jQuery ||
		   typeof easyXDM == "undefined" || !easyXDM ||
		   typeof JSON == "undefined" || !JSON){
			return;
		}
			buildBar();
	}
	
	//If there is no jquery on the page load the latest
	if(typeof jQuery == 'undefined' || !jQuery){
		var s=document.createElement('script');
		s.setAttribute('type', "text/javascript");
		s.setAttribute('src','http://jquery.com/src/jquery-latest.js');
		head.appendChild(s);
		s.onload = buildBar;
		s.onreadystatechange = function () {
			if (this.readyState == 'complete' || this.readyState == 'loaded'){
				console.log('Jquery Loaded');
				scriptOnLoad();
			}
		};
	}
	
	//We need easyXDM to reach out of our frame 
	if(typeof easyXDM === "undefined" || !easyXDM){
		s1 = document.createElement("script");
	    s1.type = "text/javascript";
	    s1.src = REMOTE + "javascripts/easyXDM-2.4.9.102/easyXDM.debug.js";
		s1.onload = scriptOnLoad;
	    s1.onreadystatechange = function(){
	        if (this.readyState === "complete" || this.readyState === "loaded") {
	            scriptOnLoad();
	        }
	    };
	    head.appendChild(s1);
	}
	
	//I think easyXDM needs JSON
	if (typeof JSON === "undefined" || !JSON) {
        s2 = document.createElement("script");
        s2.type = "text/javascript";
        s2.src = REMOTE + "javascripts/easyXDM-2.4.9.102/json2.js";
		s2.onload = scriptOnLoad;
        s2.onreadystatechange = function(){
            if (this.readyState === "complete" || this.readyState === "loaded") {
                scriptOnLoad();
            }
        };
        head.appendChild(s2);
    }
	
			
	//public api
	//return a function that acts as a future because we may still be waiting for asyc dependencies to load
	return (function(){ 
		if(typeof jQuery != 'undefined'){
			return jQuery.extend(rpc, { 
				buildBar : buildBar
			});
		}else{
			return {buildBar : buildBar}
		}
	})();
}();