var blinkmarks = function(){
	
	var REMOTE = "<%= root_url %>"
		,head = document.getElementsByTagName('head')[0]
		,deps = 0
		,finished_deps = 0
		;
	
	//Function for building the bar	
	function buildBar(){
		
		//remove the bar if its already rendered		
		if(jQuery('div#blinkmarks').length > 0){ 
			jQuery('div#blinkmarks')[0].slideUp('fast', function(){
				$(this).remove();
			});
			return false;
		}
		
		jQuery.noConflict();
		jQuery(document).ready(function($){
			var $barDiv = $('<div id="blinkmarks"></div>')
				,$closeBtn = $('<a href="#">X</a>')
				;	
				
			$barDiv.css({
				width: '100%',
				height: '30px',
				border: 'none',
				padding: '0',
				margin: '0',
				position: 'fixed',
				'padding-top': "10px",
				top: "0px",
				left: "0px",
				display: 'none',
				'z-index': "9001",
				'background-color': '#FF8F82'
			});
			
			/*
			*TODO
			*
			* This iframe constuctor is using the newer jquery 1.4 attribute param construction
			* which will not be availble in sites using older versions of jquery
			* I belive this is happening on reddit
			*/
			var $barIframe = $('<iframe/>'); 
			
			$barIframe.attr('src', REMOTE+"bar/?title="+encodeURIComponent(window.document.title)+"&url="+encodeURIComponent(window.location.href));
			$barIframe.attr('name', window.location.href+"||"+window.document.title);
			$barIframe.attr('width', "100%");
			$barIframe.attr('height', "30px");
			$barIframe.attr("scrolling", "no");
			$barIframe.attr("frameborder", "0");
			$barIframe.attr("padding-left", "10px");
			
			$barIframe.css({
				width: '90%',
				height: '100%',
				border: 'none',
				float: 'left'
			});
	
			$closeBtn.css({
				float: 'right',
				"padding-right": "10px"
			});
			$closeBtn.click(function(){
				$barDiv.slideUp('fast', function(){
					$barDiv.remove();
				});
				return false;
			});
	
			$barDiv.prepend($barIframe);
			$barDiv.append($closeBtn);
			$('body').prepend($barDiv);
			
			var rpc = new easyXDM.Rpc({
			    remote: REMOTE // the path to the provider
			}, 
			{
			    local: {
			        buildBar: function(successFn, errorFn){
			        },
			
							buildList : function(results_array, successFn, errorFn){
								var $linkList = $("<ul/>");
								$linkList.css({
									position: 'absolute',
									top: '0px',
									left: '0px',
									'z-index': "9001"
								});
								for(var i=0; i<results_array.length; i++){
									$linkList.append('<li><a href="'+results_array[i].url+'">"'+results_array[i].title+'"</a></li>');
								}
								$('body').append($linkList);

							}
			    },
			    remote: {
			        buildBar:{
			            // here we tell the Rpc object to stub a method helloWorld for us
			        },
							buildList:{}
			    }
			});
			
			
			$barDiv.slideDown('fast');
		});
	}
	
	
	/*
	*
	* Lets load 3rd party dependencys form external domains!
	*
	*/	
	
	function scriptOnLoad(){
		if(typeof jQuery == "undefined" || !jQuery ||
		   typeof easyXDM == "undefined" || !easyXDM ||
		   typeof JSON == "undefined" || !JSON){
			return;
		}
		
		buildBar();
	}
	
	//If there is no jquery on the page load the latest
	if(typeof jQuery == 'undefined' || !jQuery){
		var s=document.createElement('script');
		s.setAttribute('type', "text/javascript");
		s.setAttribute('src','http://jquery.com/src/jquery-latest.js');
		head.appendChild(s);
		s.onload = buildBar;
		s.onreadystatechange = function () {
			if (this.readyState == 'complete' || this.readyState == 'loaded'){
				buildBar();
			}
		};
	}
	
	//We need easyXDM to reach out of our frame 
	if(typeof easyXDM === "undefined" || !easyXDM){
		s1 = document.createElement("script");
	    s1.type = "text/javascript";
	    s1.src = REMOTE + "javascripts/easyXDM-2.4.9.102/easyXDM.debug.js";
		s1.onload = scriptOnLoad;
	    s1.onreadystatechange = function(){
	        if (this.readyState === "complete" || this.readyState === "loaded") {
	            scriptOnLoad();
	        }
	    };
	    head.appendChild(s1);
	}
	
	//I think easyXDM needs JSON
	if (typeof JSON === "undefined" || !JSON) {
        s2 = document.createElement("script");
        s2.type = "text/javascript";
        s2.src = REMOTE + "javascripts/easyXDM-2.4.9.102/json2.js";
		s2.onload = scriptOnLoad;
        s2.onreadystatechange = function(){
            if (this.readyState === "complete" || this.readyState === "loaded") {
                scriptOnLoad();
            }
        };
        head.appendChild(s2);
    }
	
			
	//public api
	return{ 
		buildBar : buildBar
	};
}();