<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>Bookmarks frame</title>
	<link rel="stylesheet" type="text/css" href="css/screen.css"/>
</head>
<body>
	<a href="">Qwkmrks</a>
	<a href="">View bookmarks</a>
	<a href="">Add to bookmarks</a>
</body>
</html>