<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>DEMO FOR BOOKMARKS</title>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<p>
		<a href="javascript:(function(){if(typeof blinkmarks == 'object'){blinkmarks.buildBar()}else{var qm = document.createElement('script');qm.type = 'text/javascript';qm.async = true;qm.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + '<%= bar_external_url[7, bar_external_url.length - 7]   %>';var b = document.getElementsByTagName('body')[0]; b.appendChild(qm);}})();" title="BlinkMarks bookmarklet">BlinkMarks <%= RAILS_ENV %></a>
		&lt;-- Drag this link to your bookmarks bar or add to your bookmarks
	</p>
</body>
</html>