<%= link_to(image_tag('bar_logo.png', :alt=> "blinkmarks.com"), root_url)%>
<h1>The best way to bookmark the web!</h1>
<a href="<%= bookmarklet %>" class="button bookmarklet" title="BlinkMarks bookmarklet">BlinkMarks <%= RAILS_ENV %></a>
<p>Click and drag the button above on to your browsers bookmark bar, or add to your bookmarks folder.</p>
<cite>Bookmark any page, from anywhere!</cite>
