<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>cloud bookmarks | blinkmarks.com</title>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<h1>The best way to bookmark the web!</h1>
	<a href="javascript:(function(){if(typeof blinkmarks == 'object'){blinkmarks.buildBar()}else{var qm = document.createElement('script');qm.type = 'text/javascript';qm.async = true;qm.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + '<%= bar_external_url[7, bar_external_url.length - 7]   %>';var b = document.getElementsByTagName('body')[0]; b.appendChild(qm);}})();" title="BlinkMarks bookmarklet">BlinkMarks <%= RAILS_ENV %></a>
	<p>Drag the link above to your bookmark bar, or add to your bookmarks folder.</p>
	<cite>Bookmark any page, from anywhere!</cite>
</body>
</html>