<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>cloud bookmarks | blinkmarks.com</title>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<%= stylesheet_link_tag "screen.css" %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= yield %>
</body>
</html>